[flake8]
max-line-length = 79
max-expression-complexity = 8
max-complexity = 8
extend-ignore =
    Q000,
    S101,
    R504,
exclude =
    Procfile,
    *.md,
    *.ini,
    *.txt,
    *.toml,
    *.cfg,
    *.log,
    *.yaml,
    *.yml,
    .git,
    *migrations*,
    .venv,
    users.py,
    create_resources.py,
    app.py,
